@media screen and (min-width: 768px) {
  .hero-center,
  .features-center,
  .footer-center {
    padding: 0 3rem;
  }
  .hero-center,
  .features-center {
    padding-bottom: 6rem;
  }
  .hero-flex-wrapper {
    flex-direction: row;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
    transform: translate(30%) scale(150%);
    z-index: -2;
  }
  .features-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .hero-center,
  .features-center {
    padding-bottom: 12rem;
  }
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
    transform: translate(35%) scale(180%);
    z-index: -2;
  }
  .hero-contentbox {
    max-width: 48rem;
  }
  .heading {
    font-weight: var(--fw-extrabold);
    font-size: 5.6rem;
    line-height: 70px;
  }
  .features-center {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}
